//Script de ressources généré par Microsoft Visual C++ (patch MV)
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// Généré à partir de la ressource TEXTINCLUDE 2.
//
#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#include "afxres.h"

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

#ifdef APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE
BEGIN
	"resource.h\0"
END

2 TEXTINCLUDE
BEGIN
	"#ifndef APSTUDIO_INVOKED\r\n"
    "#include ""targetver.h""\r\n"
    "#endif\r\n"
	"#include ""afxres.h""\r\n"
	"\0"
END

3 TEXTINCLUDE
BEGIN
    "#define _AFX_NO_PROPERTY_RESOURCES\r\n"
	"\r\n"
	"#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_FRA)\r\n"
	"LANGUAGE 12, 1\r\n"
	"#pragma code_page(1252)\r\n"
	"#include ""res\\Editeur.rc2""  // ressources non modifiées par Microsoft Visual C++\r\n"
	"#include ""l.FRA\\afxres.rc""  	// Composants standard\r\n"
	"#include ""l.FRA\\afxolecl.rc""	// ressources conteneur OLE\r\n"
	"#if !defined(_AFXDLL)\r\n"
	"#include ""l.FRA\\afxprint.rc""		// ressources impression/aperçu avant impression\r\n"
	"#include ""l.FRA\\afxribbon.rc""		// Ressources de barre de contrôles et de ruban MFC\r\n"
	"#endif\r\n"
	"#endif\r\n"
	"\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Icône
//

// L'icône avec la valeur d'ID la plus basse est placée en premier afin que l'icône d'application
// soit cohérente sur tous les systèmes.

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_FRA)
LANGUAGE 12, 1
#pragma code_page(1252)
IDR_MAINFRAME           ICON         "res\\Editeur.ico"
IDR_EditeurTYPE         ICON         "res\\EditeurDoc.ico"
#endif

/////////////////////////////////////////////////////////////////////////////
//
// Image bitmap
//

IDR_MAINFRAME           BITMAP      "res\\Toolbar.bmp"
IDR_MAINFRAME_256       BITMAP      "res\\Toolbar256.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Barre d'outils
//

IDR_MAINFRAME TOOLBAR   16, 15
BEGIN
    BUTTON      ID_FILE_NEW
    BUTTON      ID_FILE_OPEN
    BUTTON      ID_FILE_SAVE
	SEPARATOR
    BUTTON      ID_EDIT_CUT
    BUTTON      ID_EDIT_COPY
    BUTTON      ID_EDIT_PASTE
	SEPARATOR
    BUTTON      ID_FILE_PRINT
    BUTTON      ID_APP_ABOUT
END

IDR_MAINFRAME_256 TOOLBAR   16, 15
BEGIN
    BUTTON      ID_FILE_NEW
    BUTTON      ID_FILE_OPEN
    BUTTON      ID_FILE_SAVE
	SEPARATOR
    BUTTON      ID_EDIT_CUT
    BUTTON      ID_EDIT_COPY
    BUTTON      ID_EDIT_PASTE
	SEPARATOR
    BUTTON      ID_FILE_PRINT
    BUTTON      ID_APP_ABOUT
END

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_FRA)
LANGUAGE 12, 1
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MAINFRAME MENU
BEGIN
	POPUP "&Fichier"
	BEGIN
		MENUITEM "&Nouveau\tCtrl+N",                ID_FILE_NEW
		MENUITEM "&Ouvrir...\tCtrl+O",            ID_FILE_OPEN
		MENUITEM "&Fermer",                      ID_FILE_CLOSE
		MENUITEM SEPARATOR
		MENUITEM "Fichier récent",                 ID_FILE_MRU_FILE1,GRAYED
		MENUITEM SEPARATOR
		MENUITEM "&Quitter",                       ID_APP_EXIT
	END
	POPUP "&Affichage"
	BEGIN
		POPUP "Barres d'outils et &fenêtres d'ancrage"
		BEGIN
			MENUITEM "<espace réservé>",           ID_VIEW_TOOLBAR
		END
		MENUITEM "Barre d'é&tat",                 ID_VIEW_STATUS_BAR
	END
	POPUP "&Aide"
	BEGIN
		MENUITEM "À &propos de Editeur...",          ID_APP_ABOUT
	END
END

IDR_EditeurTYPE MENU
BEGIN
	POPUP "&Fichier"
	BEGIN
		MENUITEM "&Nouveau\tCtrl+N",                ID_FILE_NEW
		MENUITEM "&Ouvrir...\tCtrl+O",            ID_FILE_OPEN
		MENUITEM "&Fermer",                      ID_FILE_CLOSE
		MENUITEM "&Enregistrer\tCtrl+S",               ID_FILE_SAVE
		MENUITEM "Enregistrer &sous...",                 ID_FILE_SAVE_AS
		MENUITEM SEPARATOR
		MENUITEM "Fichier récent",                 ID_FILE_MRU_FILE1,GRAYED
		MENUITEM SEPARATOR
		MENUITEM "&Quitter",                       ID_APP_EXIT
	END
	POPUP "&Edition"
	BEGIN
		MENUITEM "&Annuler\tCtrl+Z",               ID_EDIT_UNDO
		MENUITEM SEPARATOR
		MENUITEM "&Couper\tCtrl+X",                ID_EDIT_CUT
		MENUITEM "C&opier\tCtrl+C",               ID_EDIT_COPY
		MENUITEM "Co&ller\tCtrl+V",              ID_EDIT_PASTE
        MENUITEM "Collage &spécial...",           ID_EDIT_PASTE_SPECIAL
        MENUITEM "Sélectio&nner tout\tCtrl+A",         ID_EDIT_SELECT_ALL
        MENUITEM SEPARATOR
        MENUITEM "&Rechercher...\tCtrl+F",            ID_EDIT_FIND
        MENUITEM "Su&ivant\\tF3",              ID_EDIT_REPEAT
        MENUITEM "R&emplacer\tCtrl+H",            ID_EDIT_REPLACE
        MENUITEM SEPARATOR
        MENUITEM "&Insérer un objet...",       ID_OLE_INSERT_NEW
        MENUITEM "&Liens...",                   ID_OLE_EDIT_LINKS
        MENUITEM "Propriétés &de l'objet\\tAlt+Entrée", ID_OLE_EDIT_PROPERTIES
        MENUITEM "<<PLACEZ ICI LES VERBES OLE>>",       ID_OLE_VERB_FIRST
	END
	POPUP "&Affichage"
	BEGIN
		POPUP "Barres d'outils et &fenêtres d'ancrage"
		BEGIN
			MENUITEM "<espace réservé>",           ID_VIEW_TOOLBAR
		END
		MENUITEM "Barre d'é&tat",                 ID_VIEW_STATUS_BAR
	END
	POPUP "&Fenêtre"
	BEGIN
		MENUITEM "&Nouvelle fenêtre",                 ID_WINDOW_NEW
	END
	POPUP "&Aide"
	BEGIN
		MENUITEM "&À propos de Editeur...",          ID_APP_ABOUT
	END
END

IDR_EditeurTYPE_CNTR_IP MENU
BEGIN
	POPUP "&Fichier"
	BEGIN
		MENUITEM "&Nouveau\tCtrl+N",                ID_FILE_NEW
		MENUITEM "&Ouvrir...\tCtrl+O",            ID_FILE_OPEN
		MENUITEM "&Fermer",                      ID_FILE_CLOSE
		MENUITEM "&Enregistrer\tCtrl+S",               ID_FILE_SAVE
		MENUITEM "Enregistrer &sous...",                 ID_FILE_SAVE_AS
		MENUITEM SEPARATOR
		MENUITEM "Fichier récent",                 ID_FILE_MRU_FILE1,GRAYED
		MENUITEM SEPARATOR
		MENUITEM "&Quitter",                       ID_APP_EXIT
	END
	MENUITEM SEPARATOR
	MENUITEM SEPARATOR
	POPUP "&Fenêtre"
	BEGIN
		MENUITEM "&Nouvelle fenêtre",                 ID_WINDOW_NEW
		MENUITEM "&Cascade",                    ID_WINDOW_CASCADE
		MENUITEM "&Mosaïque",                       ID_WINDOW_TILE_HORZ
		MENUITEM "&Réorganiser les icônes",              ID_WINDOW_ARRANGE
	END
END



IDR_POPUP_EDIT MENU
BEGIN
	POPUP "Edition"
	BEGIN
		MENUITEM "&Couper\tCtrl+X",            ID_EDIT_CUT
		MENUITEM "C&opier\tCtrl+C",           ID_EDIT_COPY
		MENUITEM "Co&ller\tCtrl+V",          ID_EDIT_PASTE
		MENUITEM SEPARATOR
		MENUITEM "Sélectio&nner tout\tCtrl+A",     ID_EDIT_SELECT_ALL
	END
END

/////////////////////////////////////////////////////////////////////////////
//
// Accélérateur
//

IDR_MAINFRAME ACCELERATORS
BEGIN
	"N",            ID_FILE_NEW,            VIRTKEY,CONTROL
	"O",            ID_FILE_OPEN,           VIRTKEY,CONTROL
	"S",            ID_FILE_SAVE,           VIRTKEY,CONTROL
	"e",            ID_EDIT_UNDO,           VIRTKEY,CONTROL
	"X",            ID_EDIT_CUT,            VIRTKEY,CONTROL
	"P",            ID_EDIT_COPY,           VIRTKEY,CONTROL
	"V",            ID_EDIT_PASTE,          VIRTKEY,CONTROL
	"A",            ID_EDIT_SELECT_ALL,     VIRTKEY,CONTROL
	"F",            ID_EDIT_FIND,           VIRTKEY,CONTROL
	VK_F3,          ID_EDIT_REPEAT,         VIRTKEY
	"H",            ID_EDIT_REPLACE,        VIRTKEY,CONTROL
    VK_RETURN,      ID_OLE_EDIT_PROPERTIES, VIRTKEY,ALT,NOINVERT
	VK_BACK,        ID_EDIT_UNDO,           VIRTKEY,ALT
	VK_DELETE,      ID_EDIT_CUT,            VIRTKEY,SHIFT
	VK_INSERT,      ID_EDIT_COPY,           VIRTKEY,CONTROL
	VK_INSERT,      ID_EDIT_PASTE,          VIRTKEY,SHIFT
	VK_F6,          ID_NEXT_PANE,           VIRTKEY
	VK_F6,          ID_PREV_PANE,           VIRTKEY,SHIFT
    VK_ESCAPE,      ID_CANCEL_EDIT_CNTR,   	VIRTKEY,NOINVERT
END

IDR_EditeurTYPE_CNTR_IP ACCELERATORS
BEGIN
	"N",            ID_FILE_NEW,            VIRTKEY,CONTROL
	"O",            ID_FILE_OPEN,           VIRTKEY,CONTROL
	"S",            ID_FILE_SAVE,           VIRTKEY,CONTROL
	VK_F6,          ID_NEXT_PANE,           VIRTKEY
	VK_F6,          ID_PREV_PANE,           VIRTKEY,SHIFT
    VK_ESCAPE,      ID_CANCEL_EDIT_CNTR,   	VIRTKEY,NOINVERT
END



/////////////////////////////////////////////////////////////////////////////
//
// Boîte de dialogue
//

IDD_ABOUTBOX DIALOGEX 0, 0, 170, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "À propos de Editeur"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDR_MAINFRAME,IDC_STATIC,14,14,21,20
    LTEXT           "Editeur, version 1.0",IDC_STATIC,42,14,114,8,SS_NOPREFIX
    LTEXT           "Copyright (C) 2019",IDC_STATIC,42,26,114,8
    DEFPUSHBUTTON   "OK",IDOK,113,41,50,14,WS_GROUP
END



/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO     VERSIONINFO
  FILEVERSION       1,0,0,1
  PRODUCTVERSION    1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
        BLOCK "040c04e4"
		BEGIN
            VALUE "CompanyName", "TODO : <Nom de la société>"
            VALUE "FileDescription", "TODO : <Description de fichier>"
			VALUE "FileVersion",     "1.0.0.1"
			VALUE "InternalName",    "Editeur.exe"
            VALUE "LegalCopyright", "TODO : (c) <Nom de la société>. Tous droits réservés."
			VALUE "OriginalFilename","Editeur.exe"
            VALUE "ProductName", "TODO : <Nom du produit>"
			VALUE "ProductVersion",  "1.0.0.1"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x040c, 1252
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_ABOUTBOX, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 163
        TOPMARGIN, 7
        BOTTOMMARGIN, 55
    END
END
#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// Table de chaînes
//

STRINGTABLE
BEGIN
	IDP_OLE_INIT_FAILED   	"Échec de l'initialisation d'OLE. Assurez-vous que vous utilisez la bonne version des bibliothèques OLE."
	IDP_FAILED_TO_CREATE	"Échec de la création de l'objet. Assurez-vous que l'objet est entré dans la base de registres."
END
STRINGTABLE
BEGIN
// Pour les applications cibles non-Macintosh, les deux sous-chaînes supplémentaires sont supprimées
	IDR_MAINFRAME           "Editeur"
  // comporte un suffixe de fichier ainsi qu'un type de fichier Shell
	IDR_EditeurTYPE         "\nEditeur\nEditeur\nEditeur Files (*.poly)\n.poly\nEditeur.Document\nEditeur.Document"
END
STRINGTABLE
BEGIN
	AFX_IDS_APP_TITLE       "Editeur"
	AFX_IDS_IDLEMESSAGE     "Prêt"
END
STRINGTABLE
BEGIN
	ID_INDICATOR_EXT        "EXT"
	ID_INDICATOR_CAPS       "CAP"
	ID_INDICATOR_NUM        "NUM"
	ID_INDICATOR_SCRL       "SCRL"
	ID_INDICATOR_OVR        "OVR"
	ID_INDICATOR_REC        "REC"
END
STRINGTABLE
BEGIN
	ID_FILE_NEW             "Crée un nouveau document\nNouveau"
	ID_FILE_OPEN            "Ouvre un document existant\nOuvrir"
	ID_FILE_CLOSE           "Ferme le document actif\nFermer"
	ID_FILE_SAVE            "Enregistre le document actif\nEnregistrer"
	ID_FILE_SAVE_AS         "Enregistre le document actif sous un nouveau nom\nEnregistrer sous"
	ID_APP_ABOUT            "Affiche des informations concernant le programme, le numéro de version et le copyright\nÀ propos de"
	ID_APP_EXIT             "Quitte l'application et demande si les documents doivent être enregistrés\nQuitter"
	ID_FILE_MRU_FILE1       "Ouvrir ce document"
	ID_FILE_MRU_FILE2       "Ouvrir ce document"
	ID_FILE_MRU_FILE3       "Ouvrir ce document"
	ID_FILE_MRU_FILE4       "Ouvrir ce document"
	ID_FILE_MRU_FILE5       "Ouvrir ce document"
	ID_FILE_MRU_FILE6       "Ouvrir ce document"
	ID_FILE_MRU_FILE7       "Ouvrir ce document"
	ID_FILE_MRU_FILE8       "Ouvrir ce document"
	ID_FILE_MRU_FILE9       "Ouvrir ce document"
	ID_FILE_MRU_FILE10      "Ouvrir ce document"
	ID_FILE_MRU_FILE11      "Ouvrir ce document"
	ID_FILE_MRU_FILE12      "Ouvrir ce document"
	ID_FILE_MRU_FILE13      "Ouvrir ce document"
	ID_FILE_MRU_FILE14      "Ouvrir ce document"
	ID_FILE_MRU_FILE15      "Ouvrir ce document"
	ID_FILE_MRU_FILE16      "Ouvrir ce document"
	ID_NEXT_PANE            "Bascule vers le volet de fenêtre suivant\nVolet suivant"
	ID_PREV_PANE            "Bascule vers le volet de fenêtre précédent\nVolet précédent"
	ID_WINDOW_NEW           "Ouvre une autre fenêtre pour le document actif\nNouvelle fenêtre"
	ID_WINDOW_ARRANGE       "Réorganise les icônes en bas de la fenêtre\nRéorganiser les icônes"
	ID_WINDOW_CASCADE       "Réorganise les fenêtres de façon à ce qu'elles se superposent\nCascade"
	ID_WINDOW_TILE_HORZ     "Réorganise les fenêtres en mosaïque de sorte qu'elles ne se superposent pas\nMosaïque"
	ID_WINDOW_TILE_VERT     "Réorganise les fenêtres en mosaïque de sorte qu'elles ne se superposent pas\nMosaïque"
	ID_WINDOW_SPLIT         "Fractionne la fenêtre active en volets\nFractionner"
	ID_EDIT_CLEAR           "Efface la sélection\nEffacer"
	ID_EDIT_CLEAR_ALL       "Efface tout\nEffacer tout"
	ID_EDIT_COPY            "Copie la sélection et la place dans le Presse-papiers\nCopier"
	ID_EDIT_CUT             "Coupe la sélection et la place dans le Presse-papiers\nCouper"
	ID_EDIT_FIND            "Recherche le texte spécifié\nRechercher"
	ID_EDIT_PASTE           "Insère le contenu du presse-papiers\nColler"
	ID_EDIT_REPEAT          "Répète la dernière action\nRépéter"
	ID_EDIT_REPLACE         "Remplace un texte spécifié par un texte différent\nRemplacer"
	ID_EDIT_SELECT_ALL      "Sélectionne la totalité du document\nSélectionner tout"
	ID_EDIT_UNDO            "Annule la dernière action\nAnnuler"
	ID_EDIT_REDO            "Rétablit l'action précédemment annulée\nRétablir"
	ID_VIEW_STATUS_BAR      "Afficher ou masquer la barre d'état\nActiver/désactiver la barre d'état"
	ID_EDIT_PASTE_LINK      "Insère le contenu du Presse-papiers et le lie à sa source\nColler avec liaison"
	ID_EDIT_PASTE_SPECIAL	"Insère le contenu du Presse-papiers avec options\nCollage spécial"
	ID_OLE_INSERT_NEW       "Insère un nouvel objet incorporé\nInsérer un nouvel objet"
	ID_OLE_EDIT_LINKS       "Modifie les objets liés\nModifier les liens"
	ID_OLE_VERB_FIRST       "Active l'objet lié ou incorporé"
	57873					"Active l'objet lié ou incorporé"
	57874					"Active l'objet lié ou incorporé"
	57875					"Active l'objet lié ou incorporé"
	ID_OLE_EDIT_CONVERT		"Convertit l'objet en un type différent\nConvertir l'objet"
END

STRINGTABLE
BEGIN
	AFX_IDS_SCSIZE          "Modifie la taille de la fenêtre"
	AFX_IDS_SCMOVE          "Modifie la position de la fenêtre"
	AFX_IDS_SCMINIMIZE      "Affiche la fenêtre sous forme d'icône"
	AFX_IDS_SCMAXIMIZE      "Affiche la fenêtre en plein écran"
	AFX_IDS_SCNEXTWINDOW    "Bascule vers la fenêtre de document suivante"
	AFX_IDS_SCPREVWINDOW    "Bascule vers la fenêtre de document précédente"
	AFX_IDS_SCCLOSE         "Ferme la fenêtre active et demande si les documents doivent être enregistrés"
	AFX_IDS_SCRESTORE       "Restaure la fenêtre à sa taille normale"
	AFX_IDS_SCTASKLIST      "Active la liste des tâches"
	AFX_IDS_MDICHILD        "Active cette fenêtre"
END


STRINGTABLE
BEGIN
	IDS_STATUS_PANE1        "Volet 1"
	IDS_STATUS_PANE2        "Volet 2"
	IDS_TOOLBAR_STANDARD    "Standard"
	IDS_TOOLBAR_CUSTOMIZE   "Personnaliser..."
	IDS_WINDOWS_MANAGER     "&Fenêtres..."
	IDS_EDIT_MENU           "Edition"
END
#endif

#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Généré à partir de la ressource TEXTINCLUDE 3.
//

#define _AFX_NO_PROPERTY_RESOURCES

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_FRA)
LANGUAGE 12, 1
#pragma code_page(1252)
#include "res\\Editeur.rc2"  // ressources non modifiées par Microsoft Visual C++
#include "l.FRA\\afxres.rc"  	// Composants standard
#include "l.FRA\\afxolecl.rc"  // ressources conteneur OLE
#if !defined(_AFXDLL)
#include "l.FRA\\afxprint.rc"		// ressources impression/aperçu avant impression
#include "l.FRA\\afxribbon.rc"		// Ressources de barre de contrôles et de ruban MFC
#endif
#endif
#endif    // non APSTUDIO_INVOKED
